.App {
  text-align: center;

}

body {
  background-color: lightskyblue;
}

.header {
  position: absolute;
  width: 99%;
  height: 90px;
  font-size: 112px;
  background-color: lightsteelblue;
  margin-top: 5px;
  padding-top: 60px;
  padding-bottom: 100px;
  margin-left: 5px;
  border-radius: 100px;
  border: solid black;
}

.image {
  position: relative;
  margin-left: 1000px;
  margin-top: 30px;
  border: solid black;
  border-radius: 100px;
  height: 200px;
}

.firstpart {
  border: solid black;
  border-radius: 100px;
  margin-top: 40px;
  width: 1900px;

}